@font-face {
	font-family: Headliner;
	src: url(../fonts/HeadlinerNo.45.ttf);
}
.title {
	text-align: center;
	color: white;
	font-size: 12em;
	margin-top: 40px;
	font-family: 'Headliner', sans-serif;
	text-shadow: 2px 2px #000;
}
.headerImage {
	background: url('../images/bg3.jpg');
	background-position: center center;
	height: 400px;
	background-size: cover;
}
.startButtonCenter {
	text-align: center;
	width: 100%;
	padding: 10px;
	font-size: 32px;
	font-family: 'Allerta Stencil', sans-serif;
	border: 8px;
}
h2 {
	font-weight: bold;
}
button {
	width:300px;
	height:80px;
	font-weight: bold;
	color: white;
	background-color: #515836;
	border-color:rgb(21, 43, 21);
}
.timer {
	color: red;
	font-family: 'Allerta Stencil', sans-serif;
	margin: 20px;
	height: 30px;
}
.startButtonRow {
	height: 100hv;
}
.questions {
	padding-bottom: 30px;
}
div:empty {
	height: 30px;
}
.bottomButton {
	text-align: center;
	margin-top: 35px;
}
footer {
	text-align: center;
	margin: 20px;
}
/* media query for smaller screen */
@media only screen and (max-width: 600px) {
	.title {
		text-align: center;
		color: white;
		font-size: 6em;
		margin-top: 1em;
		font-family: 'Headliner', sans-serif;
		text-shadow: 2px 2px #000;
	}
	.timer {
		margin-bottom: 50px;
		height: 30px;
	}
	#score {
		margin-top: 65px;
	}
	.startButtonCenter {
		text-align: center;
		display: table;
		margin: auto;
		width: 100%;
		font-size: 30px;
	}
}
